.about {
  @extend .dark-wrapper;
}

.about-content {
  width: 70%;
  display: flex;
  justify-content: space-between;
  margin-top: 70px auto 0;
  align-items: center;
  padding: 30px 0;

  @include respond-to("phone-screen") {

  };

  @include respond-to("sm-screen") {

  };
}

.about-pic {
  width: 280px;
  height: 375px;
  border-radius: 4px;
  margin: 10px 30px;
}

.blurb {
}

.blurb p {
  margin-bottom: 10px;
  font-weight: 200;
  font-size: 15px;
  line-height: 30px;
  color: white;
}

.blurb h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 30px;
  color: white;
}
