.contact {
  h1 {
    @extend .assets-title;
  }
}

.contact-info {
  width: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 120px auto;
  @include respond-to("phone-screen") {
    flex-direction: column;
    margin: 60px auto;

    div { margin: 20px; }
  };

  div {
    min-width: 200px;
    text-align: center;
    cursor: pointer;
    transition: all 1s ease-in-out;

    &:hover, &:focus {
      transform: scale(1.2);
    }

    h4 {
      margin-top: 25px;
    }
  }
}
