.intro {
  padding: 140px 0 320px;

  h1 {
    font-size: 84px;
  }
}

.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  margin: 0 auto;
  margin-top: 30px;
  padding-left: 0;

  @include respond-to("phone-screen") { width: 100%; };
  // @include respond-to("sm-screen") { width: 30%; };

  li {
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s ease-in-out;

    &:hover, &:focus {
      transform: scale(1.2);
    }
  }
}
