.nav-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  height: 100%;
}

.nav-columns {
  display: flex;
  justify-content: space-around;

  @include respond-to("phone-screen") { flex-direction: column; };
}

.nav-title {
  display: flex;
  height: 60px;
  align-items: center;
  font-size: 24px;
  text-decoration: none;
  justify-content: center;
  cursor: pointer;
  a {
    display: flex;
    color: black;

    &:hover {
      text-decoration: none;
    }

    h2 {
      margin: 0;

      &:hover, &:focus {
        color: #337ab7;
      }
    }
  }
}

.nav-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Montserrat', sans-serif;

  li {
    display: flex;
    color: black;
    align-items: center;
    font-weight: 200;
    height: 60px;
    transition: color 0.1s ease-in;

    &:hover, &:focus {
      text-decoration: none;
      cursor: pointer;
      border-top: 4px solid #AADA4B;
      transition: border-width 0.2s ease-in-out;
    }

    h4 {
      margin: 0;
      margin-left: 2px;
      margin-right: 2px;

      &:hover, &:focus {
        text-decoration: none;
        color: #AADA4B;
      }
    }
  }

  @include respond-to("phone-screen") {
    visibility: hidden;
    height: 0;

    li { font-size: 0rem; height: 40px; }
    h4 { font-size: 1.5rem; }
  };
}
