$montserrat: "Montserrat", sans-serif;

#global-nav {
  min-height: 60px;
  background-color: #FFF;
  border: none;
}

.main-content {
  margin-top: 71px;
  font-family: 'Montserrat', sans-serif;
}

.dark-wrapper {
  background: #303030;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    color: white;
    min-width: 200px;
    margin: 0 auto;
    line-height: 120px;
    border-bottom: 5px solid white;
  }
}

#toggle-button {
  position: fixed;
  right: 30px;
  top: 15px;
  z-index: 5000;
  visibility: hidden;

  @include respond-to("phone-screen") {
    visibility: visible;
    background: white;
    border: none;
  };
}

#app {
  &.toggled .nav-menu {
    visibility: visible;
    height: 30px;
  }
}
